In [2]:
#ASSIGNMENT

In [3]:
#Q1. Create one variable containing following type of data?

In [6]:
#(1) String
a="This is my first assignment"
type(a)

str

In [7]:
#(2) List
b=["Subedar", 2.25, 5, True]
type(b)

list

In [8]:
#(3) Float
c=2.85
type(c)

float

In [9]:
#(4) Tuple
d=("Subedar", 2.25, 5, True)
type(d)

tuple

In [10]:
# Q2. Given are some following variables containing data:

In [12]:
var1 =''
type(var1)

str

In [14]:
var2 = '[ DS , ML , Python]'
type(var2)

str

In [16]:
var3 = [ 'DS' , 'ML' , 'Python']
type(var3)

list

In [17]:
var4=1
type(var4)

int

In [18]:
#Q3. Explain the use of the following operators using an example:

In [43]:
# (1) /
10/3

3.3333333333333335

In [39]:
# (2) %
10%3

1

In [41]:
# (3) //
25//3

8

In [42]:
#3 (4) **
10**3

1000

In [53]:
# Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the element and its data type

l=[12,"Subedar", 2.25, True, 36, "Yadav", 58.55, False,85,36.5]
for i in l :
     print(i)
     print(type(i))

12
<class 'int'>
Subedar
<class 'str'>
2.25
<class 'float'>
True
<class 'bool'>
36
<class 'int'>
Yadav
<class 'str'>
58.55
<class 'float'>
False
<class 'bool'>
85
<class 'int'>
36.5
<class 'float'>

In [ ]:
# Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many times it can be divisible?

In [93]:
# Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is divisible by 3 or not

a=[25,2,6,3,58,27,56,7,24]
for i in a :
    if i % 3==0:
        print(f"{i} is divisible by 3.")
    else :
        print(f"{i} is not divisible by 3.")

25 is not divisible by 3.
2 is not divisible by 3.
6 is divisible by 3.
3 is divisible by 3.
58 is not divisible by 3.
27 is divisible by 3.
56 is not divisible by 3.
7 is not divisible by 3.
24 is divisible by 3.

In [72]:
# Q7. What do you understand about mutable and immutable data types? Give examples for both showing this property?

# Mutable objects : objects that can be modified at a particular index then it is said as mutable objects.
a=[1,"Subedar",25.25]
a[1]="Yadav"

In [73]:
a

[1, 'Yadav', 25.25]

In [85]:
# immutable objects : objects that can not be modified at a particular index then it is said as immutable objects.

b="Subedar"
b[2]=e

TypeError: 'str' object does not support item assignment

In [86]:
b

'Subedar'